<h1>About Us</h1>
<p>
  ByteMe started as a coding group with my friend. But in 2009, we began to make
  our little group into a worldwide thing. Today over 100million people use
  ByteMe as their coding group!
</p>
