<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ByteMe - <%= locals.title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo"><h1>ByteMe</h1></a>
      <ul>
        <li><a href="/users/create">Create Account</a></li>
        <li><a href="/users/id/1">Profile</a></li>
      </ul>

      <!-- TEMPLATE URL -->
    </header>
    <main><%- body %></main>
    <footer>Footer</footer>
  </body>
</html>
