* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.125rem black solid;
  padding: 0.5rem 1rem;
}
header > ul {
  display: flex;
  list-style: none;
}
header > ul > li {
  margin-left: 1rem;
}
footer {
  border-top: 0.125rem black solid;
}
